version: '3.5'

services:
  etcd:
    container_name: milvus-etcd01
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/etcd:/etcd
    command: etcd -advertise-client-urls=http://127.0.0.1:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd

  minio:
    container_name: milvus-minio01
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/minio:/minio_data
    command: minio server /minio_data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  standalone:
    container_name: milvus-standalone01
    image: milvusdb/milvus:v2.2.9
    command: ["milvus", "run", "standalone"]
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/milvus:/var/lib/milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      - "etcd"
      - "minio"

  streamlit:
    build: 
      context: ./app
      dockerfile: Dockerfile.streamlit
    # command: streamlit run ./app/app_chat_automotive.py
    environment:
      DB_MILVUS_HOST: "milvus-standalone01"  # Use service name for the host
      DB_MILVUS_PORT: "19530"  # Ensure this port is exposed by the standalone service
      DB_MILVUS_COLLECTION: "api"  # Your Milvus collection name

    ports:
      - "8501:8501"
    depends_on:
      - "standalone"
  
  api:
    build: 
      context: .
      dockerfile: Dockerfile.api
    environment:
      DB_MILVUS_HOST: "milvus-standalone01"  # Replace with your actual Milvus host
      DB_MILVUS_PORT: "19530"       # Replace with your actual Milvus port, typically 19530
      DB_MILVUS_COLLECTION: "api"  # Replace with your actual Milvus collection name

    ports:
      - "8000:8000"
    depends_on:
      - "standalone"
      - "streamlit"

networks:
  default:
    name: milvus
